.container-f {
    text-align: center;
}
.toggle-switch-f {
    position: relative;
    width: 90px;
    display: inline-block;
    text-align: left;
    top: 8px;
}
.checkbox-f {
    display: none;
}
.label-f {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0 solid #bbb;
    border-radius: 20px;
}
.inner-f {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.inner-f:before,
.inner-f:after {
    float: left;
    width: 50%;
    height: 36px;
    padding: 0;
    line-height: 36px;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
}
.inner-f:before {
    content: "C";
    padding-left: 10px;
    background-color: #ffffff;
    color: #000000;
}
.inner-f:after {
    content: "F";
    padding-right: 10px;
    background-color: #000000;
    color: #fff;
    text-align: right;
}
.switch-f {
    display: block;
    width: 24px;
    margin: 5px;
    background: #737171;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50px;
    border: 0 solid #bbb;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.checkbox-f:checked + .label-f .inner-f {
    margin-left: 0;
}
.checkbox-f:checked + .label-f .switch-f {
    right: 0;
}